<?xml version="1.0" encoding="utf-8" ?>
<config SrcDir="E:\work\xiaoyaoyou\src" UnPackFunctionName="unpack" UpackClassPrefix="U" UpackClassFunc=".getInstance().unpack" 
	SendPackFunctionName="send" SendPackClassPrefix="S" SendPackClassFunc=".getInstance().send">
	<ObjEvent>TEST_EVENT</ObjEvent>
</config>